@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.navbar-body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.navbar {
    width: 97%;
    margin: auto;
}

.navbar-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-bottom: 2px solid black;
    padding: 5px 0;
}

.navbar-brand {
    flex: 1;
}

.navbar-brand img {
    width: 200px;
}

.navbar-categories-search {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.categories-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1394FF;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.text-categories {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #1394FF;
}

.image-categories {
    width: 20px;
    background-color: #1394FF;
}

.image-arrow-down {
    width: 10px;
    background-color: #1394FF;
}

.navbar-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 8px 20px;
    border-radius: 10px;
}

.image-search {
    width: 20px;
    cursor: pointer;
}

.navbar-search input {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    width: 300px;
    outline: none;
}

.navbar-options {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-options a {
    text-decoration: none;
}

.nav-links {
    margin-right: 20px;
}

.image-user {
    width: 35px;
}

.image-wishlist,
.image-cart {
    width: 30px;
}

.navbar-vl {
    border-left: 2px solid black;
    height: 20px;
    margin-right: 20px;
}